@import './variables.scss';
@import './mixins.scss';

html,
body,
#app {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  color: #333 !important;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

/* element style */
.el-menu-item,
.el-submenu__title {
  height: 40px !important;
  line-height: 40px !important;
}

.el-popper,
.el-popper__arrow {
  &::before {
    border: 0 !important;
    background-color: transparent !important;
  }
}
