@import '~@/assets/styles/variables.scss';
@import '~@/assets/styles/mixins.scss';

$dark-aside-backgound: #001529;
$dark-aside-color: hsla(0, 0%, 100%, 0.65);

@include namespace(layout) {
  width: 100%;
  min-height: 100%;
  background: #f0f2f5;
  &__aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
    z-index: 10;
    transition: width 0.2s;
  }
  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    // justify-content: center;
    padding: 5px 4px 10px;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    &.is-collapse {
      img {
        margin-left: 0;
      }
    }
    img {
      display: inline-block;
      height: 40px;
      margin-left: 5px;
      vertical-align: middle;
      transition: all 0.2s;
    }
    &-text {
      display: inline-block;
      height: 40px;
      margin: 0 0 0 8px;
      color: $color-primary;
      font-weight: 400;
      font-size: 18px;
      line-height: 40px;
      vertical-align: middle;
      animation: pro-layout-title-hide 0.3s;
    }
  }
  & &__sidermenu {
    flex: 1 1 0%;
    overflow: hidden auto;
    border: none;
    &-icon {
      display: inline-block;
      height: 100% !important;
      width: 16px !important;
      position: relative;
      margin-right: 10px;
      font-size: 16px;
      vertical-align: top;
      visibility: visible !important;
      transition: transform 0.3s ease-in-out;
    }
    &.el-menu--collapse {
      width: 48px;
      .el-submenu.is-active {
        .el-submenu__title {
          color: $color-primary;
        }
      }
      @include namespace(layout__sidermenu) {
        &-icon {
          transform: scale(1.1) translateX(-4px);
        }
      }
    }
  }
  &__collapse {
    width: 100%;
    padding: 0 14px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    color: $color-text-regular;
    box-sizing: border-box;
    border-top: 1px solid #f0f0f0;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
      color: $color-primary;
    }
  }
  & &__header {
    display: flex;
    align-items: center;
    height: 48px !important;
    line-height: 48px;
    width: 100%;
    padding: 0 10px;
    background: #fff;
    font-size: 18px;
    z-index: 9;
    &-active {
      &-base {
        cursor: pointer;
        padding: 0 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        vertical-align: middle;
        transition: all 0.3s;
        height: 100%;
        box-sizing: border-box;
        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
      }
      &-user {
        &-avatar {
          display: inline-block;
          overflow: hidden;
          width: 24px;
          height: 24px;
          line-height: 24px;
          border-radius: 50%;
          margin-right: 8px;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &-search {
        display: inline-flex;
        align-items: center;
        .svg-icon {
          position: relative;
          top: 1px;
        }
        .search-input {
          display: inline-flex;
          align-items: center;
          width: 0;
          margin-left: 0;
          border-bottom: 1px solid #d9d9d9;
          transition: all 0.3s;
          &.show {
            width: 210px;
            margin-left: 8px;
          }
          .el-autocomplete {
            width: 100%;
            height: 100%;
            line-height: normal;
            .el-input__inner {
              border-radius: 0;
              padding-right: 0;
              padding-left: 0;
              border: 0;
              line-height: normal;
              height: 29px;
              box-shadow: none !important;
            }
          }
        }

        &:hover {
          background: #fff;
        }
      }
      &-notice {
        padding: 0;
        .notice-content {
          display: block;
          padding: 0 15px;
        }
        .notice-badge {
          position: relative;
          top: -1px;
          height: 20px;
          line-height: 20px;
        }
      }
    }
  }
  &__breadcrumb {
    display: flex;
    align-items: center;
    flex: 1;
    &-icon {
      margin-right: 10px;
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
    }
    &-content {
      .el-breadcrumb__item {
        .el-breadcrumb__inner {
          font-weight: 400 !important;
          color: rgba(0, 0, 0, 0.45) !important;
          &.is-link:hover {
            color: $color-primary !important;
          }
        }
        .el-breadcrumb__separator {
          font-weight: 400 !important;
          color: rgba(0, 0, 0, 0.45) !important;
        }
        &:last-child {
          .el-breadcrumb__inner {
            color: rgba(0, 0, 0, 0.85) !important;
            &.is-link:hover {
              color: rgba(0, 0, 0, 0.85) !important;
            }
          }
        }
      }
    }
  }
  &__tagsview {
    &-wrapper {
      display: flex;
      padding: 0 10px 10px;
    }
    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 2px;
      height: 32px;
      background-color: $color-white;
      border-radius: $border-radius-base;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #eee;
      }
    }
    &-container {
      flex: 1;
      margin: 0 10px;
      overflow: hidden;
      white-space: nowrap;
    }
    &-scroll {
      white-space: nowrap;
      width: 100%;
      .el-scrollbar__bar {
        height: 0px !important;
      }
    }
    &-tag {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      height: 32px;
      line-height: 12px;
      background-color: $color-white;
      border-radius: $border-radius-base;
      cursor: pointer;
      transition: all 0.3s;
      margin-right: 10px;
      font-size: 12px;
      color: #909399;
      &:last-child {
        margin-right: 0;
      }
      &.no-scroll:hover,
      &.active {
        @include namespace(layout__tagsview) {
          &-tag-title {
            color: $color-text-primary;
          }
          &-tag-close {
            width: auto;
            margin-left: 5px;
          }
        }
      }
      &-title {
        transition: all 0.3s;
      }
      &-close {
        display: inline-block;
        transition: all 0.3s;
        border-radius: 50%;
        width: 0;
        overflow: hidden;
        &:hover {
          color: #fff;
          background-color: #666;
          .svg-icon {
            transform: scale(0.8);
          }
        }
      }
    }
    &-contextmenu {
      margin: 0;
      background: #fff;
      z-index: 3000;
      position: absolute;
      list-style-type: none;
      padding: 5px 0;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 400;
      color: #333;
      box-shadow: $box-shadow-base;
      li {
        margin: 0;
        padding: 7px 16px;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          background: #eee;
        }
      }
    }
  }
  & &__main {
    padding: 0;
    padding-top: 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  &__view {
    height: 100%;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 3px;
    & > div {
      min-height: 100%;
      padding: 10px;
      background-color: #fff;
      &.page-container {
        padding: 0;
        height: 100%;
        background-color: transparent;
        // .el-scrollbar__wrap {
        //   overflow-x: hidden;
        // }
      }
    }
  }
  &__setting {
    position: relative;
    flex-grow: 1;
    padding: 24px;
    height: 100%;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;

    &-item {
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      margin-bottom: 24px;
    }
    &-title {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 22px;
    }
    &-menu {
      display: flex;
      min-height: 42px;
      height: 45px;
      &-item {
        position: relative;
        margin-right: 16px;
        border-radius: 2px;
        cursor: pointer;
      }
      &-selected {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding-top: 15px;
        padding-left: 24px;
        color: $color-primary;
        font-weight: 700;
        font-size: 14px;
      }
    }
    &-color {
      margin-top: 20px;
      display: flex;
      align-items: center;
      &-item {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
      }
    }
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-reset {
      position: absolute;
      bottom: 24px;
      right: 24px;
      left: 24px;
    }
    // &-switch {
    //   float: right;
    // }
  }
  &__dark {
    @include namespace(layout) {
      &__aside {
        background-color: $dark-aside-backgound;
      }
      &__logo {
        &-text {
          color: #fff;
        }
      }
      &__collapse {
        color: $dark-aside-color;
        border: none;
        &:hover {
          color: $color-white;
        }
      }
    }
    & .el-menu {
      border-right: 0;
      background-color: $dark-aside-backgound;
      &-item {
        &.is-active {
          color: $color-white;
          background-color: $color-primary;
          &:hover {
            background-color: $color-primary;
          }
        }
      }
      .el-submenu__title,
      .el-menu-item {
        &:hover {
          color: $color-white;
          background-color: transparent;
        }
        &.is-active {
          &:hover {
            background-color: $color-primary;
          }
        }
      }

      .el-submenu {
        &.is-opened {
          background-color: #000c17;
          .el-submenu__title {
            color: $color-white;
          }

          .el-menu {
            background-color: #000c17;
          }
        }
      }

      .el-submenu__title,
      &-item,
      &__title {
        color: $dark-aside-color;
        letter-spacing: 0.5px;

        span {
          letter-spacing: 1px;
          display: inline-block;
        }
      }

      &--collapse {
        .el-menu-item {
          &.is-active {
            &:hover {
              background-color: transparent;
            }
            background-color: transparent;
          }
        }
        .el-submenu {
          &.is-active {
            .el-submenu__title {
              color: $color-white !important;
            }
          }
          &.is-opened {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}

.header-notice-popover {
  padding: 12px 0 0 !important;
  .el-tabs__nav-wrap {
    padding-left: 50px;
  }
  .el-tabs__nav-scroll {
    .el-tabs__item {
      height: 45px;
      font-weight: 400;
    }
  }
  .notice-tab-pane {
    padding: 12px 24px;
    color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
    border-bottom: 1px solid #f0f0f0;
    .name {
      margin-bottom: 8px;
      font-weight: 400;
    }
    .desc {
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      line-height: 1.5715;
    }
    &:hover {
      background: #e6f7ff;
    }
  }
  .notive-btn {
    height: 46px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 46px;
    text-align: center;
    border-top: 1px solid #f0f0f0;
    border-radius: 0 0 2px 2px;
    transition: all 0.3s;
    span {
      display: inline-block;
      width: 50%;
      cursor: pointer;
      transition: all 0.3s;
      user-select: none;
      &:not(:only-child):last-child {
        border-left: 1px solid #f0f0f0;
      }
    }
  }
}
